.arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
  }
  
  .button:hover .arrow {
    animation: slide-right .6s ease-out both;
    /* top:50%; */
  }
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
  }



/* Footer styles ___________________________________ */
:root {
    --primary-color: black;
  }
  footer {
    background-color: var(--primary-color);
    font-size: 50px;
    height: 65vh;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .footer-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: solid 1px white;
    margin-bottom: 10px;
  }
  .footer-header img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 0 5px;
  }
  .sponsors {
    margin: 10px;
  }
  .sponsors img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 5px;
  }
  .patners {
    margin: 10px;
    border-bottom: solid 1px white;
  }
  .patners img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    margin: 5px;
  }
  .end-note p {
    text-align: start;
    padding: 5px;
    font-size: medium;
  }


.footer-container{
    grid-template-columns: 1fr 30px 1fr 30px 1fr;
}

/* _______ socials css _______ */

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

.button2 {
  border: none;
  background-color: transparent;
  font-size: 22px;
}

.button2:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}



/* _____ bullets styles _______ */

/* Stylish bullets */
ul.stylish-bullets {
  list-style-type: none; /* Remove default bullets */
  padding-left: 20px; /* Add padding to align with text */
}

ul.stylish-bullets li {
  position: relative;
}

ul.stylish-bullets li:before {
  content: '\2022'; /* Bullet character */
  position: absolute;
  left: -20px; /* Adjust based on your preference */
  color: #007bff; /* Bullet color */
  font-size: 1.2em; /* Bullet size */
}

/* ______ corousel testimonials _______ */
#testimonials-section {
	padding: 80px 0;
    background: linear-gradient( rgb(0, 0, 0), rgba(0, 22, 37, 0.85) ), url(https://meral.ar-lab.ga/img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #a1aaad;
}
#testimonial {
	padding: 30px 0;
  text-align: center;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}
hr {
    height: 3px;
    width: 60px;
    position: relative;
    background: #a5a5a5;
    border: 0;
    margin-bottom: 30px;
}


/* ___________ product rating  */
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  /* float: right; */
  cursor: pointer;
  font-size: 22px;
  color: #ff9900;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}



